@use 'colors';

ion-content {
  --background: colors.$app-background;

  &::part(scroll) {
    &::-webkit-scrollbar {
      width: 8px;
      background: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}

#chat-list {
  background-color: colors.$app-background;
  box-sizing: border-box;
  padding-right: 20px;
}

#chat-list > .chat-item {
  --ion-item-background: colors.$app-background;
  --color: colors.$secondary-text;
  --background-hover: linear-gradient(to right, #2f3447, #313337);
  --background-hover-opacity: 0.8;
  --border-radius: 10px;
}

app-chat-widget {
  width: 100%;
}
