@use 'colors';

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap");

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: colors.$app-background;
}
